.input {
  //margin-bottom: 16px !important;

  .MuiInputBase-root {
    font-weight: 500 !important;
    border-radius: 8px !important;
  }

  .MuiInputLabel-root {
    font-weight: 600 !important;
  }

  .Mui-error {
    color: red !important;
  }
}
