.AppLayout {
  width: 100vw;
  height: 100vh;
  display: flex;

  .sideNav {
    width: 16%;
    height: 100%;
    // background-color: aquamarine;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .navCard {
      padding: 0.65rem 0rem;
      padding-left: 1.5rem;
      cursor: pointer;

      img {
        width: 1.25rem;
        height: 1.25rem;
      }

      &:hover {
        background-color: lightgray;
        border-radius: 4px;
      }
    }
  }

  .rightSide {
    width: 84%;
    height: 100%;
    // background-color: yellow;

    .Navbar {
      height: 3.5rem;
      width: 100%;
      // background-color: pink;
      padding: 0 2rem;
      border-bottom: 1px solid black;

      .Profile {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: red;
      }
    }
  }
}

@media screen and (max-width: "968px") {
  .AppLayout {
    flex-direction: column;

    .sideNav {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 4rem;

      .navCard {
        padding: 0rem 1rem;
      }
    }

    .rightSide {
      width: 100%;

      .Navbar {
        padding: 0rem 1rem;
      }
    }
  }
}

// @media screen and (max-width : "768px"){
//   .AppLayout {
//     .sideNav {

//     }
//   }
// }
