.sidebarContainer {
    width: 100%;
    max-width: 260px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 100vh;
    overflow: hidden;
    transition: all ease 0.3s;

    &.closeSidebar {
        max-width: 80px;
        transition: all ease 0.3s;
    }

    .logoContainer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        &.openLogoContainer {
            justify-content: center;

            p {
                white-space: nowrap;
            }

            .openImg{
                height: 60px;
            }

        }
    }

    .sidebarNavigation{
        display: flex;
        flex-direction: column;

        .sidebarItem{
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
            color: black;
            padding: 10px 20px;
            font-size: 14px;
            margin: 2px 4px;
            border-radius: 4px;
            white-space: nowrap;
            &:hover{
                color: #5d78ff;
                background-color: #f5f6fc;
                font-weight: 500;
            }
        }
        .sidebarItemActive{
            background-color: #f5f6fc;
            color: #5d78ff;
            font-weight: 500;
        }
    }
}