.navbar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eeeff4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;

    .title {
        font-size: 18px;
        font-weight: 500;
        padding-right: 10px;
        border-right: 2px solid rgb(196, 196, 196);
    }

    .rightSide {
        display: flex;
        gap: 16px;

        .dateTime {
            display: flex;
            align-items: center;
            color: #646c9a;
            font-weight: 500;

            .time {
                border-right: 2px solid #646c9a;
                padding: 6px;
            }

            .date {
                padding: 6px;
            }
        }

        .profile {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 6px;
            border-radius: 4px;
            cursor: pointer;
            color: #646c9a;

            &:hover {
                background-color: rgb(234, 234, 234);
            }
        }
    }
}

.popoverContent {
    min-width: 250px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
   

    .profileDiv {
     background-color: #3148b0;
     border-radius: 3px 3px 0px 0px;
     
        p {
            padding: 12px;
            font-weight: 500;
            font-size: 14px;
            color: #ffffff;
        }
    }

    .menuItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: left;
        padding: 8px 12px;
        border: none;
        background: none;
        font-size: 14px;
        color: #444;
        cursor: pointer;
        border-bottom: 1px solid #cccccc5e;

        &:hover {
            background-color: #3148b00f;
        }
    }

    .signOutWrapper {
        text-align: right;
        margin: 8px;
        border-radius: 0px 0px 7px 7px;

        .signOutButton {
            font-size: 12px;
        }
    }
}