.fieldContainer {
  display: flex;
  flex-direction: column;
}

.errorContainer {
  min-height: 16px; 
  margin-top: 2px;
}

.label{
  font-size: 14px;
  margin-bottom: 4px;
  span{
    color: red;
  }
}

.error {
  color: red;
  font-size: 12px;
  line-height: 18px; 
  margin: 0;
}
