.loginContainer {
    display: flex;
    height: 100vh;
    width: 100vw;

    .leftSide {
        flex: 1;
        background-image: url("../../assets/Images/login.jpg");
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        align-items: end;
        justify-content: center;
        padding: 40px;

        .imageText {
            width: 80%;

            h2 {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 1.1rem
            }
        }
    }

    .rightSide {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}