.dataGridCompact {
    height: 500px;
    padding: 20px;
//     .dataGridHeaderCompact {
//   :global(.MuiDataGrid-columnHeaders) {
//     height: 50px !important;
//     min-height: 50px !important;
//     max-height: 50px !important;
//   }

//   :global(.MuiDataGrid-columnHeader) {
//     padding: 0 8px !important;
//     height: 50px !important;
//     min-height: 50px !important;
//     max-height: 50px !important;
//   }

//   :global(.MuiDataGrid-columnHeaderTitle) {
//     font-size: 14px !important;
//     line-height: 30px !important;
//   }
// }

}
